.header-nav {
    margin: auto;
    width: 88.88%;
    min-width: 1360px;
}

@media screen and (max-width: 1366px) {
    .header-nav {
        min-width: 1000px;
    }
} 

@media screen and (max-width: 991px) {
    .header-nav {
        min-width: 750px;
    }
}

@media screen and (max-width: 768px) {
    .header-nav {
        min-width: 481px;
        width: 100%;
        margin: 0px;
    }
}

@media screen and (max-width: 480px){
    .header-nav {
        min-width: 320px;
    }
}
